# PyCity Schools Analysis

- Your analysis here

---

In [18]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [68]:
school_data_complete["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [69]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [70]:
# Calculate the total number of students
studentCount = school_data_complete["Student ID"].count()
studentCount

np.int64(39170)

In [71]:
# Calculate the total budget
totalBudget = school_data["budget"].sum()
totalBudget

np.int64(24649428)

In [72]:
# Calculate the average (mean) math score
avgMathScore = school_data_complete["math_score"].mean()
avgMathScore

np.float64(78.98537145774827)

In [73]:
# Calculate the average (mean) reading score
avgReadingScore = school_data_complete["reading_score"].mean()
avgReadingScore

np.float64(81.87784018381414)

In [74]:
passMathStudents = school_data_complete[school_data_complete["math_score"] >=70]
numPassMath = len(passMathStudents)
numPassMath

29370

In [75]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
percentagePassedMath = (numPassMath / studentCount) * 100
percentagePassedMath

np.float64(74.9808526933878)

In [76]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passReadingStudents = school_data_complete[school_data_complete["reading_score"] >=70]
numPassReading = len(passReadingStudents)
numPassReading

33610

In [77]:
percentagePassedReading = (numPassReading / studentCount) * 100
percentagePassedReading

np.float64(85.80546336482001)

In [78]:
passingStudents = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
numPassingStudents = len(passingStudents)
numPassingStudents

25528

In [79]:
percentagePassed = (numPassingStudents / studentCount) * 100
percentagePassed

np.float64(65.17232575950983)

In [80]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
districtSummary = pd.DataFrame(
    {
        "Total Schools": [school_count],
        "Total Students": [studentCount],
        "Total Budget": [totalBudget],
        "Average Math Score": [avgMathScore],
        "Average Reading Score": [avgReadingScore],
        "% Passing Math": [percentagePassedMath],
        "% Overall Passing": [percentagePassed]
    }
)
districtSummary["Total Students"] = districtSummary["Total Students"].map("{:,}".format)
districtSummary["Total Budget"] = districtSummary["Total Budget"].map("{:,.2f}".format)
districtSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Overall Passing
0,15,"39,170","24,649,428.00",78.985371,81.87784,74.980853,65.172326

## School Summary

In [81]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [82]:
school_types = school_data.set_index(["school_name"])
school_types

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [83]:
# Use the code provided to select the type per school from school_data
school_types1 = school_types["type"]
school_types1

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [84]:
# Calculate the total student count per school from school_data
perSchoolCounts = school_data_complete["school_name"].value_counts()
perSchoolCounts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [85]:
#average resp budget
groupedSchoolDF = school_data_complete.groupby("school_name")
perSchoolBudget = groupedSchoolDF.mean("budget")
perSchoolBudget = perSchoolBudget["budget"]
perSchoolBudget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [86]:
# Calculate the total school budget and per capita spending per school from school_data
perSchoolCapita = perSchoolBudget / perSchoolCounts
perSchoolCapita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [87]:
#Avg Math Score
groupedSchoolDF = school_data_complete.groupby("school_name")
avgMathScoreDF = groupedSchoolDF.mean("math_score")
perSchoolMathScores = avgMathScoreDF["math_score"]
perSchoolMathScores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [88]:
#Avg Reading Score
groupedSchoolDF = school_data_complete.groupby("school_name")
avgReadingScoreDF = groupedSchoolDF.mean("reading_score")
perSchoolReadingScores = avgReadingScoreDF["reading_score"]
perSchoolReadingScores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [89]:
#Percent passing Math
schoolPassingMathDF = school_data_complete[school_data_complete["math_score"] >= 70]
schoolPassingMathDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [90]:
perSchoolPassingMathDF = schoolPassingMathDF.groupby("school_name")
perSchoolPassingMath = perSchoolPassingMathDF["student_name"].count()
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [91]:
#Percent pass reading
schoolPassingReadingDF = school_data_complete[school_data_complete["reading_score"] >= 70]
schoolPassingReadingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [92]:
perSchoolPassingReadingDF = schoolPassingReadingDF.groupby("school_name")
perSchoolPassingReading = perSchoolPassingReadingDF["student_name"].count()
perSchoolPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [93]:
#Passed Both
schoolPassingDF = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
schoolPassingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [94]:
perSchoolPassingDF = schoolPassingDF.groupby("school_name")
perSchoolPassing = perSchoolPassingDF["student_name"].count()
perSchoolPassing

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [95]:
# Use the provided code to calculate the passing rates
perSchoolPassingMathPCT = (perSchoolPassingMath / perSchoolCounts) * 100
perSchoolPassingReadingPCT = (perSchoolPassingReading / perSchoolCounts) * 100
perSchoolPassingPCT = (perSchoolPassing / perSchoolCounts) * 100
perSchoolPassingPCT

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [96]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(
    {
        "School Type": school_types1,
        "Total Students": perSchoolCounts,
        "Total School Budget": perSchoolBudget,
        "Per Student Budget": perSchoolCapita,
        "Average Math Score": perSchoolMathScores,
        "Average Reading Score": perSchoolReadingScores,
        "% Passing Math": perSchoolPassingMathPCT,
        "% Passing Reading": perSchoolPassingReadingPCT,
        "% Overall Passing": perSchoolPassingPCT,
    }
)
# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)
# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [97]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
topSchoolsDF = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
topSchoolsDF.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [98]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottomSchoolsDF = per_school_summary.sort_values(["% Overall Passing"])
bottomSchoolsDF.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [99]:
ninthGradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
ninthGraderScoresDF = ninthGradersDF.groupby(["school_name"])
ninthGraderScoresDF = ninthGraderScoresDF.mean(numeric_only=True)
ninthGradeMathScores = ninthGraderScoresDF["math_score"]
ninthGradeMathScores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [100]:
tenthGradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
tenthGraderScoresDF = tenthGradersDF.groupby(["school_name"])
tenthGraderScoresDF = tenthGraderScoresDF.mean(numeric_only=True)
tenthGradeMathScores = tenthGraderScoresDF["math_score"]
tenthGradeMathScores

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [101]:
eleventhGradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
eleventhGraderScoresDF = eleventhGradersDF.groupby(["school_name"])
eleventhGraderScoresDF = eleventhGraderScoresDF.mean(numeric_only=True)
eleventhGradeMathScores = eleventhGraderScoresDF["math_score"]
eleventhGradeMathScores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [102]:
twelfthGradersDF = school_data_complete[school_data_complete["grade"] == "12th"]
twelfthGraderScoresDF = twelfthGradersDF.groupby(["school_name"])
twelfthGraderScoresDF = twelfthGraderScoresDF.mean(numeric_only=True)
twelfthGradeMathScores = twelfthGraderScoresDF["math_score"]
twelfthGradeMathScores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [103]:
mathScoresByGradeDF = pd.DataFrame(
    {
        "9th": ninthGradeMathScores,
        "10th": tenthGradeMathScores,
        "11th": eleventhGradeMathScores,
        "12th": twelfthGradeMathScores
    }
)

mathScoresByGradeDF["9th"] = mathScoresByGradeDF["9th"].map("{:.2f}".format)
mathScoresByGradeDF["10th"] = mathScoresByGradeDF["10th"].map("{:.2f}".format)
mathScoresByGradeDF["11th"] = mathScoresByGradeDF["11th"].map("{:.2f}".format)
mathScoresByGradeDF["12th"] = mathScoresByGradeDF["12th"].map("{:.2f}".format)

mathScoresByGradeDF.index.name = None

mathScoresByGradeDF

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

In [104]:
ninthGradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
ninthGraderScoresDF = ninthGradersDF.groupby(["school_name"])
ninthGraderScoresDF = ninthGraderScoresDF.mean(numeric_only=True)
ninthGradeReadingScores = ninthGraderScoresDF["reading_score"]
ninthGradeReadingScores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [105]:
tenthGradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
tenthGraderScoresDF = tenthGradersDF.groupby(["school_name"])
tenthGraderScoresDF = tenthGraderScoresDF.mean(numeric_only=True)
tenthGradeReadingScores = tenthGraderScoresDF["reading_score"]
tenthGradeReadingScores

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [106]:
eleventhGradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
eleventhGraderScoresDF = eleventhGradersDF.groupby(["school_name"])
eleventhGraderScoresDF = eleventhGraderScoresDF.mean(numeric_only=True)
eleventhGradeReadingScores = eleventhGraderScoresDF["reading_score"]
eleventhGradeReadingScores

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [107]:
twelfthGradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
twelfthGraderScoresDF = twelfthGradersDF.groupby(["school_name"])
twelfthGraderScoresDF = twelfthGraderScoresDF.mean(numeric_only=True)
twelfthGradeReadingScores = twelfthGraderScoresDF["reading_score"]
twelfthGradeReadingScores

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [108]:
ReadingScoresByGradeDF = pd.DataFrame(
    {
        "9th": ninthGradeReadingScores,
        "10th": tenthGradeReadingScores,
        "11th": eleventhGradeReadingScores,
        "12th": twelfthGradeReadingScores
    }
)

ReadingScoresByGradeDF["9th"] = ReadingScoresByGradeDF["9th"].map("{:.2f}".format)
ReadingScoresByGradeDF["10th"] = ReadingScoresByGradeDF["10th"].map("{:.2f}".format)
ReadingScoresByGradeDF["11th"] = ReadingScoresByGradeDF["11th"].map("{:.2f}".format)
ReadingScoresByGradeDF["12th"] = ReadingScoresByGradeDF["12th"].map("{:.2f}".format)

ReadingScoresByGradeDF.index.name = None

ReadingScoresByGradeDF

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.95
Cabrera High School    83.68  84.25  83.79  83.79
Figueroa High School   81.20  81.41  80.64  80.64
Ford High School       80.63  81.26  80.40  80.40
Griffin High School    83.37  83.71  84.29  84.29
Hernandez High School  80.87  80.66  81.40  81.40
Holden High School     83.68  83.32  83.82  83.82
Huang High School      81.29  81.51  81.42  81.42
Johnson High School    81.26  80.77  80.62  80.62
Pena High School       83.81  83.61  84.34  84.34
Rodriguez High School  80.99  80.63  80.86  80.86
Shelton High School    84.12  83.44  84.37  84.37
Thomas High School     83.73  84.25  83.59  83.59
Wilson High School     83.94  84.02  83.76  83.76
Wright High School     83.83  83.81  84.16  84.16

## Scores by School Spending

In [109]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [110]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [111]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(perSchoolCapita, spending_bins, labels=labels)
school_spending_df
# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [112]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [113]:
# Assemble into DataFrame
spending_summary = pd.DataFrame(
    {
        "Average Math Score": spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending
    }
)

# Display results
spending_summary

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [118]:
# Establish the bins.
schoolBins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [119]:
# Create a copy of the school summary for later aggregations
schoolSpendingDF2 = per_school_summary.copy()

In [122]:
# Use `pd.cut` on the per_school_counts Series from earlier to categorize school size based on the bins.
schoolSpendingDF2["school Size"] = pd.cut(schoolSpendingDF2["Total Students"], schoolBins, labels=labels)
schoolSpendingDF2
# Convert School Size to a string
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
school_size_df

TypeError: '<' not supported between instances of 'int' and 'str'

In [114]:
# Calculate averages for the desired columns.
size_math_scores = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_df.groupby(["School Size"])["% Overall Passing"].mean()

KeyError: 'School Size'

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [115]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary